


<div class="order-detail-container">
  <app-nav-bar></app-nav-bar>
  <h2 class="order-detail-heading">Order Details</h2>
  
  <div class="order-detail-info">
      <div>
          <strong>Order ID:</strong> {{ order.id }}
      </div>
      <div>
          <strong>Customer Name:</strong> {{ order.customerName }}
      </div>
      <div>
          <strong>Order Date:</strong> {{ order.orderDate | date:'medium' }}
      </div>
      <div>
          <strong>Status:</strong> {{ order.status }}
      </div>
  </div>

  <div class="update-status-section">
    <label for="newStatus"><strong>Update Status:</strong></label>
    
    <select id="newStatus" [(ngModel)]="newStatus" placeholder="New Status" (change)="updateOrderStatus()">
        <option value="Shipped">Shipped</option>
        <option value="Pending">Pending</option>
    </select>
   
</div>

  <div class="order-actions">
      <button (click)="deleteOrder()">Delete Order</button>
  </div>
  
  <div class="order-save">
    <button routerLink="/orders">Save</button>
</div>

</div>
